// additional colors

// brand colors

@brand-primary: rgb(85, 123, 185);
@brand-success: #3D990F;
@brand-info:    #80BEE6;
@brand-warning: #fe9420;
@brand-danger: #bb2025;

// navbar inverse (blue)

@navbar-inverse-color: rgb(230, 240, 255);
@navbar-inverse-bg: rgb(85, 123, 185);

@navbar-inverse-link-color: rgb(230, 240, 255);
@navbar-inverse-link-hover-color: rgb(230, 240, 255);
@navbar-inverse-link-hover-bg: lighten(rgb(85, 123, 185), 3%);

@navbar-inverse-brand-color: @navbar-inverse-link-color;
@navbar-inverse-brand-hover-color: @navbar-inverse-link-hover-color;
@navbar-inverse-brand-hover-bg: @navbar-inverse-link-hover-bg;

@navbar-inverse-toggle-hover-bg: @navbar-inverse-link-hover-bg;
@navbar-inverse-toggle-icon-bar-bg: @navbar-inverse-link-color;
@navbar-inverse-toggle-border-color: @navbar-inverse-link-color;

// navs (tabs / pills)
@nav-link-hover-bg: rgb(234, 238, 247);

// panels
@panel-footer-bg:             rgb(234, 238, 247);
@panel-default-heading-bg:    rgb(234, 238, 247);